@CHARSET "ISO-8859-1";

body {
	background-image : url("res/bg.jpg");
	/*background : linear-gradient(#e9eaed,#e9eadd);*/
}

.button {
	background-color: #c0c0c0;
	-webkit-border-radius: 25px;
	-moz-border-radius : 25px;
}
