<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<!-- This file is not being used. The values are taken by WEB-INF/spring/applicationContext.xml. This file is kept in case to revert back to hibernate and removing the spring -->
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://127.12.78.130:3306/app
		</property>
		<property name="hibernate.connection.username">
			adminLjgZKxD
		</property>
		<property name="hibernate.connection.password">
			DukPzxA44A4m
		</property>

		<!-- List of mapping classes with tables -->
		<mapping class="com.app.factory.beans.User" />
		<mapping class="com.app.factory.beans.UserDescription" />
		<!-- List of mapping classes with tables -->

	</session-factory>
</hibernate-configuration>